*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style:none;
    font-family: 'Noto Sans JP', sans-serif;
    color: #253d58;
}

header{
    height:851px;
}

.bg-rect{
	width: 483px;
	height: 851px;
    border-radius: 10px;
    background: #95C3D7;
    z-index:-1;
}


header img{
    position:absolute;
    top:63px;
    left:363px;
    z-index: 1;
}

h2{
    writing-mode: vertical-rl;
    z-index: 1;
    position:absolute;
    font-size: 40px;
    font-weight: bold;
    color: #fbfbfb;
    letter-spacing: 10px;
}

.h2-1{
    top: 172px;
    left:208px;
}

.h2-2{
    top:285px;
    left:118px;
}

.decoration-rect1{
    width: 3px;
    height: 433px;
    border:solid #fbfbfb;
    z-index: 1;
    border-radius: 10px;
    background-color: #fbfbfb;
    position:absolute;
    top:162px;
    left:193px;
}

.decoration-circle1{
    width: 3px;
	height: 3px;
	border-radius: 10px;
	background: #fbfbfb;
    position:absolute;
    top:598px;
    left:193px;
}

.decoration-rect2{
    width: 3px;
    height: 360px;
    border:solid #fbfbfb;
    z-index: 1;
    border-radius: 10px;
    background-color: #fbfbfb;
    position:absolute;
    top:274px;
    left:103px;
}

.decoration-circle2{
    width: 3px;
	height: 3px;
	border-radius: 10px;
	background: #fbfbfb;
    position:absolute;
    top:267px;
    left:103px;
}

nav{
    display:flex;
    justify-content: space-around;
    padding: 30px 30px;
    position:absolute;
    /*top:0;*/
    width: 100%;
    top:730px;
    z-index: 1;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    
}

nav li{
    margin:40px;
}

nav a{
    font-size: 19px;
    font-weight:bold;
    text-decoration:none;
    /*font-family: 'Noto Sans JP', sans-serif;*/
}

.marker{
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

.marker::after{
    content:"";
    width: 0%;    
    height: 8px;
    background: #ffb580;
    opacity: 0.8;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all .2s;  
  }	

.marker:hover::after{
    width: 100%;    
  }

.half-circle{
    /*display: inline-block;*/
    display:flex;
    width: 106px;
    height: 53px;
    border:1px solid;
    border-radius: 50% / 100% 100% 0 0;
    background: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /*margin-bottom: 50px;*/
    text-align: center;
    justify-content:center;
    align-items: center;
}

.section-title .half-circle img{
    text-align: center;
}

.section-title{
    margin-bottom: 116px; /*最後に消す?*/
    margin-top: 50px;
}

.section-rec{
    /*margin: -55px;*/
    width: 418px;
    height: 79px;
    border: 1px solid #253d58;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
    margin-top:-1px;
}



.heading{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    align-items: center;
    margin: 10px;
    /*line-height: 418px;*/
}

#attraction{
    margin-bottom: 192px;
}

.icons{
    display: flex;
    justify-content: center;
}

.section1-icon-top{
    text-align: center;
    float:left;
    margin: 26px;

}

.section1-icon-bottom{
    text-align: center;
    float:left;
    margin: 26px;
    margin-top: 100px;
}

#suggest{
    margin-bottom: 192px;
}

/**/
.s-left-title{
    width: 200px;
}

.icon{
    text-align: right;
}

.icon img{
    transform: translate(25%,0);

}

.title-name{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.title{
    writing-mode: vertical-lr;
    font-size: 50px;
    text-orientation: upright; /*効いたけれど、若干ずれている縦書き*/
    letter-spacing: 1.4rem;
    position: relative;
}

.title span{
    display: inline-block;
    background-color: #D0AC7F;
    opacity: 0.5;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.name{
    writing-mode: vertical-rl;
    font-size: 40px;
    font-weight: bold;
}

.modal-box a{
    display: inline-block;
    height: 100%;
}

/*書き足し*/
.sl1-photo{
   
}

.left-modal{
    position: relative;
    
}

.num1{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.left-location{
    position: absolute;
    bottom: 20px;
    right: 20px;
    
}



/**/


.s-point{
    text-align: center;
    float:left;
    margin: 50px;
}

.arrow {
    display: flex;
    position: relative;
    display: inline-block;
    /*text-align: center;*/
    /*padding: 10px;*/
    left: 50%;
  }

.arrow::before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: solid 2px #253d58;
    border-right: solid 2px #253d58;
    position: absolute;
    /*left: 10px;
    top: 8px;*/ /*元々あったコード*/
  }

.arrow.arrow-bottom::before {
    transform: rotate(135deg);
  }

/*ここから詳細*/

.lead{
    margin-top: 137px;
}

.lead p{
    text-align: center;
    font-size: 19px;
}

.left-title-box img{
    position: relative;
    left:1129px;
    top: 55px;
}

.s-left-title h5{
    writing-mode: vertical-lr;
    font-size: 50px;
    text-orientation: upright; /*効いたけれど、若干ずれている縦書き*/
    letter-spacing: 1.4rem;
    /*position:relativeで、top21px,left1180したいけど効かない*/
}


.left-title-decoration{
    border: 0px solid;
    position: relative;
    left: 1196px;
    top:-790px;/*変更前*/
    /*思っていた場所と違うところに元々あるため、計算したtopだとずれてしまう*/
    opacity: 0.5;
    
    z-index: 0;
    height: 490px;
}

.deco1{
    background-color: #D0AC7F;
    width: 35px;
    height: 476px;
}

.deco3{
    background-color: #00AAEE;
    width: 35px;
    height: 476px;
}

.deco5{
    background-color: #FF7B74;
    width: 35px;
    height: 476px;
}


.left-textbox-purpose{
    position: absolute;
    left: 1180px;
    z-index: 1;
}

.left-textbox-name{
    position: relative;
    left: 1052px;
    top: 18px;
}

.left-parkname {
    writing-mode: vertical-rl;
    /*position: absolute;*/
    font-size: 40px;
    font-weight: bold;
    /*left: 1052px;*/
    width: 40px;
    margin: 0;
}





.sl1-photo h4{
    font-size: 120px;
    font-weight: bold;
    text-shadow:
    3px 3px 3px #fbfbfb, -3px -3px 3px #fbfbfb,
   -3px 3px 3px #fbfbfb,  3px -3px 3px #fbfbfb,
    3px 0px 3px #fbfbfb, -3px -0px 3px #fbfbfb,
    0px 3px 3px #fbfbfb,  0px -3px 3px #fbfbfb;
}

.num1{
    color: #D0AC7F;
}

.num3{
    color: #00AAEE;
}

.num5{
    color: #FF7B74;
}


/*モーダル中央寄せ*/
.modaal-content-container{
    text-align: center;
}
/*ここまでモーダル中央寄せ*/

/*モーダルの×の色*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #253d58;
}
/*ここまでモーダルの×の色*/





/*ここから偶数番*/
.right-title-box img{
    position: relative; /*absolute?*/
    left:180px;
    text-align: center;
}

.s-right-title h5{
    writing-mode: vertical-lr;
    font-size: 50px;
    letter-spacing: 1.4rem;
}

.right-title-decoration{
    border: 0px solid;
    position: relative;
    left: 244px;
    opacity: 0.5;
    top: 0px;
    z-index: 0;
}

.deco2{
    background-color: #009944;
    width: 35px;
    height: 476px;
}

.deco4{
    background-color: #FEDD50;
    width: 35px;
    height: 476px;
}

.deco6{
    background-color: #FF6100;
    width: 35px;
    height: 476px;
}

.right-textbox-purpose{
    position: absolute;
    left: 230px;
    z-index: 1;
}

.right-textbox-name{
    position: relative;
    left: 337px;
    top: 18px;
}

.right-parkname {
    writing-mode: vertical-rl;
    /*position: absolute;*/
    font-size: 40px;
    font-weight: bold;
    /*left: 1052px;*/
    width: 40px;
}

.right-location img{
    position: relative;
    left: 510px;
    z-index: 2;
    top: 590px;
}

.sr1-photo img{
    z-index: -1;
}

.sr1-photo h4{
    font-size: 120px;
    font-weight: bold;
    z-index: 1;
    position: relative;
    left: 1201px;
    text-shadow:
            3px 3px 3px #fbfbfb, -3px -3px 3px #fbfbfb,
           -3px 3px 3px #fbfbfb,  3px -3px 3px #fbfbfb,
            3px 0px 3px #fbfbfb, -3px -0px 3px #fbfbfb,
            0px 3px 3px #fbfbfb,  0px -3px 3px #fbfbfb;
    
}

.num2{
    color: #009944;
}

.num4{
    color: #FEDD50;
}

.num6{
    color: #FF6100;
}

.right-detail{
    text-align: left;
    position: relative;
    left: 485px;
    top: -70px;
}

.right-modal a{
    position: relative;
    left: 490px;
    top: -80px;
}

.right-stars {
    position: relative;
    top: -100px;
    left: 300px;
}
/*ここまで偶数番*/

.info p{
    display: inline-block;
    /*font-size: 25px;*/
}

#bold{
    display: inline-block;
    font-weight: bold;
    color: #252525;
}

/*ここまで詳細*/

/*ここから公園紹介②*/
.info2{
    padding:0 170px;
    text-align: center;
}

.slr-photo-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.slr-photo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.slr-photo p{
    margin-top: 20px;
}

/*ここまで公園紹介②*/

.decoration{
    margin-top: 60px;
    text-align: center;
}



#caution{
    margin-bottom: 192px;
}

.c-point{
    text-align: center;
    float: left;
    margin: 55px;
}

#season{
    margin-bottom: 192px;
}

/*.section45-iconはグルーピングのse-pointとj-pointの役割*/
.section45-icon{
    text-align: center;
    float:left;
    margin: 82px;
}

.section45-icon p{
    line-height: 2;
}

.section45-icon .bold{
    font-weight: bold;
}



#japan{
    margin-bottom: 192px;
}

#last{
    margin-bottom: 192px;
}

.last p{
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

#info{
   
}

.i-box{
    background-color:rgba(37,61,88,0.7);/*opacity0.5は薄すぎて読みにくい*/
    height:604px;
}

.park-names p{
    font-size: 16px;
}


.parkname-bold{
    font-weight: bold;
    color: #fbfbfb;
    font-size: 19px;
  }

.i-box p{
    color: #fbfbfb;
}

.i-box a{
    text-decoration: none;
    color: #fbfbfb;
}

.i-box a:hover{
    color: #252525;
}

.info-title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 210px;
    top:43px;
}

.i-infoes1{
    display: flex;
    justify-content: space-between;
    /*margin-top: 74px;
    margin-bottom: 71px;*/
    margin: 74px 256px 71px 256px;
}

.i-infoes2{
    display: flex;
    justify-content: space-between;
    margin: 74px 256px 71px 256px;
}



.i-info1{
    display: block;
    line-height: 2.5;
    float: left;
    /*margin: 0px 45px;*/
    /*width: 25%;*/
}

.i-info2{
    display: block;
    line-height: 2.5;
    float: left;
    /*margin: 0px 23px;*/
    /*width: 25%;*/
}

footer{
    width: 100%;
    background-color: #253d58;
    padding: 20px;
    /*position:absolute;*/
    bottom:0;
}

footer p{
    color: #fbfbfb;
    text-align: center;
    letter-spacing:2px;
    font-family: 'Roboto', sans-serif;
}