*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style:none;
    font-family: 'Noto Sans JP', sans-serif;
    color: #253d58;
}

/*横スクロース防止*/
html{
    overflow-x: hidden; 
  overflow-y: scroll; -webkit-overflow-scrolling: touch

}

/*横揺れ防止*/
img{
    max-width: 100%;
}

header{
    height:851px;
}

.sp-header{
    display: none;
}

.bg-rect{
	width: 483px;
	height: 851px;
    border-radius: 10px;
    background: #95C3D7;
    z-index:-1;
}

.sp-bg-rect{
    display: none;
}

/* 
header img{
    position:absolute;
    top:63px;
    left:363px;
    z-index: 1;
}
 */

 .Menu{
    display: none;
 }

 .pc-header{
    position:absolute;
    top:63px;
    left:363px;
    z-index: 1;
 }


h2{
    writing-mode: vertical-rl;
    z-index: 1;
    position:absolute;
    font-size: 40px;
    font-weight: bold;
    color: #fbfbfb;
    letter-spacing: 10px;
}

.h2-1{
    top: 172px;
    left:208px;
}

.h2-2{
    top:285px;
    left:118px;
}

.decoration-rect1{
    width: 3px;
    height: 433px;
    border:solid #fbfbfb;
    z-index: 1;
    border-radius: 10px;
    background-color: #fbfbfb;
    position:absolute;
    top:162px;
    left:193px;
}

.decoration-circle1{
    width: 3px;
	height: 3px;
	border-radius: 10px;
	background: #fbfbfb;
    position:absolute;
    top:598px;
    left:193px;
}

.decoration-rect2{
    width: 3px;
    height: 360px;
    border:solid #fbfbfb;
    z-index: 1;
    border-radius: 10px;
    background-color: #fbfbfb;
    position:absolute;
    top:274px;
    left:103px;
}

.decoration-circle2{
    width: 3px;
	height: 3px;
	border-radius: 10px;
	background: #fbfbfb;
    position:absolute;
    top:267px;
    left:103px;
}

/*hamburger*/

#menu{
    display: none;
}

/*hamburger*/

nav{
    display:flex;
    justify-content: space-around;
    padding: 30px 30px;
    position:absolute;
    /*top:0;*/
    width: 100%;
    top:730px;
    z-index: 1;
    
}

nav ul{
    display: flex;
    justify-content: space-between;
    
}

nav li{
    margin:40px;
}

nav a{
    font-size: 19px;
    font-weight:bold;
    text-decoration:none;
    /*font-family: 'Noto Sans JP', sans-serif;*/
}

.marker{
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

.marker::after{
    content:"";
    width: 0%;    
    height: 8px;
    background: #ffb580;
    opacity: 0.8;
    position: absolute;
    bottom: -1px;
    left: 0;
    z-index: -1;
    transition: all .2s;  
  }	

.marker:hover::after{
    width: 100%;    
  }

.half-circle{
    /*display: inline-block;*/
    display:flex;
    width: 106px;
    height: 53px;
    border:1px solid;
    border-radius: 50% / 100% 100% 0 0;
    background: #fff;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /*margin-bottom: 50px;*/
    text-align: center;
    justify-content:center;
    align-items: center;
}

.section-title .half-circle img{
    text-align: center;
}

.section-title{
    margin-bottom: 116px; /*最後に消す?*/
    margin-top: 50px;
}

.section-rec{
    /*margin: -55px;*/
    width: 418px;
    height: 79px;
    border: 1px solid #253d58;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle;
    margin-top:-1px;
}

.heading{
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    align-items: center;
    margin: 10px;
    /*line-height: 418px;*/
}

#attraction{
    margin: 0 173px 192px 173px;
}

.icons{
    display: flex;
    justify-content: space-around;
}

.section1-icon-top{
    text-align: center;
    margin: 26px;

}

.section1-icon-top p{
    font-size: 20px;
}

.section1-icon-bottom{
    text-align: center;
    margin: 26px;
    margin-top: 100px;
}

.section1-icon-bottom p{
    font-size: 20px;
}

.section1-icons{
    display: none;
}


#suggest{
    margin: 0px 170px 192px 170px;
}

#suggest img{
    border-radius: 10px;
}

/**/
.s-left-title{
    /* width: 200px; */
    width: 180px;
}

.group{
    margin-top: 66px;
}

.icon{
    text-align: right;
}

.icon img{
    transform: translate(25%,0);

}

.title-name{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.title-name p{
    margin-top: 20px;
    font-size: 40px;
}

.title{
    writing-mode: vertical-lr;
    font-size: 50px;
    text-orientation: upright; /*効いたけれど、若干ずれている縦書き*/
    letter-spacing: 1rem;
    position: relative;
}

.title span{
    display: inline-block;
    opacity: 0.5;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 3px;
}

.bbq-span{
    background-color: #D0AC7F;
}

.relax-span{
    background-color:  #D0E79D;
}

.swing-span{
    background-color: #00AAEE;
}

.shoes-span{
    background-color:  #FEDD50;
}
.photo-span{
    background-color: #FF7B74;
}

.sun-span{
    background-color:  #FF6100;
}


.name{
    writing-mode: vertical-rl;
    font-size: 40px;
    font-weight: bold;
}

.modal-box a{
    display: inline-block;
    height: 100%;
}

.modal-box{
    position: relative;
    display: inline-block;   
}

/*モーダル中身*/


.location-info{
    display: block;
    width: 300px;
    padding: 10px 0;
    margin: 0 ;
    border: #253d58 solid;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    color: #253d58 ;
}

.icon-info{
    margin: 30px 110px 0 110px;
    display:flex;
    justify-content: space-between;
}

.park-info{
    margin: auto;
    text-align: left;
    width: 775px;
    font-size: 20px;
}

.banner{
    margin-bottom: 30px;
    border-radius: 10px;
}


/*まで　モーダル*/

.num1{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.num3{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.num5{
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.left-location{
    position: absolute;
    bottom: 40px;
    right: 20px;
    
}

.left{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.s-point{
    text-align: center;
}

.s-point p{
    font-size: 17px;
}

.star{
    display: flex;
    
}

.info2{
    margin-top: 80px;
}

/**/




.arrow {
    display: flex;
    position: relative;
    display: inline-block;
    left: 50%;
    margin-top: 100px;
  }

.arrow::before {
    content: '';
    width: 25px;
    height: 25px;
    border-top: solid 2px #253d58;
    border-right: solid 2px #253d58;
    position: absolute;
    
  }

.arrow.arrow-bottom::before {
    transform: rotate(135deg);
  }

/*ここから詳細*/

.lead{
    margin-top: 137px;
}

.lead p{
    text-align: center;
    font-size: 19px;
}

.sl1-photo h4{
    font-size: 120px;
    font-weight: bold;
    text-shadow:
    3px 3px 3px #fbfbfb, -3px -3px 3px #fbfbfb,
   -3px 3px 3px #fbfbfb,  3px -3px 3px #fbfbfb,
    3px 0px 3px #fbfbfb, -3px -0px 3px #fbfbfb,
    0px 3px 3px #fbfbfb,  0px -3px 3px #fbfbfb;
}

.num1{
    color: #D0AC7F;
}

.num3{
    color: #00AAEE;
}

.num5{
    color: #FF7B74;
}


/*モーダル中央寄せ*/

.modaal-content-container{
    text-align: center;
    height: 770px;
    background-color: #fbfbfb;
}

/*ここまでモーダル中央寄せ*/

/*モーダルの×の色*/
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
    background: #253d58;
}
/*ここまでモーダルの×の色*/


/*ここから偶数番*/

/**/
.s-right-title{
    width: 200px;
}

.group{
    margin-top: 66px;
}

.icon-right{
    text-align: left;
}

.icon-right img{
    transform: translate(-25%,0);

}

.title-name-right{
    display: flex;
    justify-content: space-between;

}

.title-name-right p{
    margin-top: 20px;
    font-size: 40px;
}

.title{
    writing-mode: vertical-lr;
    font-size: 50px;
    text-orientation: upright; /*効いたけれど、若干ずれている縦書き*/
    letter-spacing: 1.4rem;
    position: relative;
}

.title span{
    display: inline-block;
    /*background-color: #D0AC7F;*/
    opacity: 0.5;
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    border-radius: 3px;
}

.name{
    writing-mode: vertical-rl;
    font-size: 40px;
    font-weight: bold;
}

.modal-box a{
    display: inline-block;
    height: 100%;
}


.modal-box{
    position: relative;
    display: inline-block;   
}

.num2{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 1;
}

.num4{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 1;
}

.num6{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
    z-index: 1;
}


.right-location{
    position: absolute;
    bottom: 40px;
    right: 20px;
    
}

.right{
    display: flex;
    justify-content: space-between;
    
}

.right-detail{
    font-size: 20px;
}

.s-point{
    text-align: center;
}

.star{
    display: flex;
    
}

.info2{
    margin-top: 80px;
}

/**/

.sr1-photo h4{
    font-size: 120px;
    font-weight: bold;
    text-shadow:
            3px 3px 3px #fbfbfb, -3px -3px 3px #fbfbfb,
           -3px 3px 3px #fbfbfb,  3px -3px 3px #fbfbfb,
            3px 0px 3px #fbfbfb, -3px -0px 3px #fbfbfb,
            0px 3px 3px #fbfbfb,  0px -3px 3px #fbfbfb;
    
}

.num2{
    color: #009944;
}

.num4{
    color: #FEDD50;
}

.num6{
    color: #FF6100;
}

/*ここまで偶数番*/

.info p{
    display: inline-block;
    /*font-size: 25px;*/
}

.bold{
    display: inline-block;
    font-weight: bold;
    color: #253d58;
    font-size: 20px;
}

.left-detail {
    font-size: 20px;
}

/*ここまで詳細*/

/*ここから公園紹介②*/

.slr-photo-box{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.slr-photo{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.slr-photo p{
    margin-top: 20px;
}

/*ここまで公園紹介②*/

.decoration{
    margin-top: 60px;
    text-align: center;
}

#caution{
    margin: 0 328px 192px 328px;
}

.c-point{
    text-align: center;
    float: left;
    margin: 5px;
}

#season{
    margin: 0 240px 192px 240px;
}

/*.section45-iconはグルーピングのse-pointとj-pointの役割*/
.section45-icon{
    text-align: center;
    margin: 82px;
}

.section45-icon p{
    line-height: 2;
}

.section45-icon .bold{
    font-weight: bold;
}



#japan{
    margin: 0 250px 192px 250px;
}

#last{
    margin-bottom: 192px;
}

.last p{
    text-align: center;
    line-height: 2;
    font-size: 20px;
}

.info{
    background-color:rgba(37,61,88,0.7);
}

.i-box{
    height:604px;
}

.park-names p{
    font-size: 16px;
}


.parkname-bold{
    font-weight: bold;
    color: #fbfbfb;
    font-size: 19px;
  }

.i-box p{
    color: #fbfbfb;
}

.i-box a{
    text-decoration: none;
    color: #fbfbfb;
}

.i-box a:hover{
    color: #252525;
}

.info-title{
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 210px;
    top:43px;
}

.i-infoes1{
    display: flex;
    justify-content: space-between;
    /*margin-top: 74px;
    margin-bottom: 71px;*/
    margin: 74px 256px 71px 256px;
}

.i-infoes2{
    display: flex;
    justify-content: space-between;
    margin: 74px 256px 71px 256px;
}



.i-info1{
    display: block;
    line-height: 2.5;
    float: left;
    /*margin: 0px 45px;*/
    /*width: 25%;*/
}

.i-info2{
    display: block;
    line-height: 2.5;
    float: left;
    /*margin: 0px 23px;*/
    /*width: 25%;*/
}

footer{
    width: 100%;
    background-color: #253d58;
    padding: 20px;
    /*position:absolute;*/
    bottom:0;
}

footer p{
    color: #fbfbfb;
    text-align: center;
    letter-spacing:2px;
    font-family: 'Roboto', sans-serif;
}

nav.globalMenuSp ul li {
    display: none;
  }

/**/
@media screen and (max-width: 768px) {
    .pc-header {
      display: none;
    }
    .sp-header{
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
      }
    
    .bg-rect{
        display: none;
    }

    header{
        height: 623px;
    }
    
    .sp-bg-rect{
        display: inline-block;
        width: 301px;
        height: 558px;
        background-color: #95C3D7;
        margin-top: 65px;
    }

    .h2-1{
        position: absolute;
        top: 104px;
        left: 209px;
        font-size: 25px;
        z-index: 2;
    }

    .h2-2{
        position: absolute;
        top: 190px;
        left: 162px;
        font-size: 25px;
        z-index: 2;
    }

    .decoration-rect1{
        width: 2px;
        height: 329px;
        position: absolute;
        top: 103px;
        left: 200px;
        z-index: 2;
    }

    .decoration-circle1{
        width: 2px;
        height: 2px;
        position: absolute;
        top: 434px;
        left: 200px;
        z-index: 2;
    }

    .decoration-rect2{
        width: 2px;
        height: 275px;
        position: absolute;
        top: 190px;
        left: 154px;
        z-index: 2;
    }

    .decoration-circle2{
        width: 2px;
        height: 2px;
        position: absolute;
        top: 186px;
        left: 154px;
        z-index: 2;
    }

    .header-nav{
        display: none;
    }

    /*hamburger2*/
    .hamburger {
        display : block;
        position: fixed;
        z-index : 3;
        right : 13px;
        top   : 12px;
        width : 42px;
        height: 42px;
        cursor: pointer;
        text-align: center;
      }
      .hamburger span {
        display : block;
        position: absolute;
        width   : 30px;
        height  : 2px ;
        left    : 6px;
        background : #253d58;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition   : 0.3s ease-in-out;
        transition        : 0.3s ease-in-out;
      }
      .hamburger span:nth-child(1) {
        top: 10px;
      }
      .hamburger span:nth-child(2) {
        top: 20px;
      }
      .hamburger span:nth-child(3) {
        top: 30px;
      }
      
      /* ナビ開いてる時のボタン */
      .hamburger.active {
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition     : all 0.3s ease-in-out;
        transition        : all 0.3s ease-in-out;
        -webkit-transition-delay: 0.6s;
        -o-transition-delay     : 0.6s;
        transition-delay        : 0.6s;
        -webkit-transform: rotate(45deg);
        -ms-transform    : rotate(45deg);
        -o-transform     : rotate(45deg);
        transform        : rotate(45deg);
      }
      .hamburger.active span:nth-child(2){
        width: 0px;
      }
      .hamburger.active span:nth-child(1),
      .hamburger.active span:nth-child(3){
        background :#fff;
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
      }
      .hamburger.active span:nth-child(1){
        -webkit-transform: translateY(4px);
        -ms-transform    : translateY(4px);
        -o-transform     : translateY(4px);
        transform        : translateY(4px);
      }
      
      .hamburger.active span:nth-child(3){
        -webkit-transform: translateY(-16px) rotate(90deg);
        -ms-transform: translateY(-16px) rotate(90deg);
        -o-transform : translateY(-16px) rotate(90deg);
        transform    : translateY(-16px) rotate(90deg);
      }
      
      
      nav.globalMenuSp {
        position: fixed;
        z-index : 2;
        top  : 0;
        left : 0;
        color: #fff;
        background: rgba(37,61,88,0.7);
        text-align: center;
        width: 100%;
        opacity: 0;
        transition: opacity .6s ease, visibility .6s ease;
        height: 623px;
      }
      
      nav.globalMenuSp ul {
        margin: 0 auto;
        padding: 0;
        width: 100%;
      }
      
      nav.globalMenuSp ul li {
        display: flex;
        justify-content: center;
        list-style-type: none;
        padding: 0;
        width: 100%;
        transition: .4s all;
      }
      nav.globalMenuSp ul li:last-child {
        padding-bottom: 0;
      }
      nav.globalMenuSp ul li:hover{
        color :#253d58;
        
      }
      
      nav.globalMenuSp ul li a {
        display: block;
        color: #fff;
        padding: 1em 0;
        text-decoration :none;
      }
      
      /* このクラスを、jQueryで付与・削除する */
      nav.globalMenuSp.active {
        opacity: 100;
      
      }

    nav ul{
        flex-wrap: wrap;
    }

    nav li{
        margin: 0;
    }
    /*hamburger2*/

    .heading{
        margin: 5px;
    }

    #attraction{
        margin: 0 20px 50px 20px;
    }


    .section1-icon-top{
        display: none;
    }

    .section1-icon-bottom{
        display: none;
    }
    
    .section1-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 10px;
    
    }

    .section1-icons p{
        font-size: 15px;
    }
    

    .icons{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        
    }

    
    .arrow::before {
        display: none;
      }
    
    .arrow.arrow-bottom::before {
        transform: rotate(135deg);
      }



    /*セクションタイトル装飾*/
    .section-rec h3{
        font-size: 17px;
    }

    .half-circle{
        display: flex;
        width: 50px;
        height: 25px;
        border:1px solid;
        border-radius: 50% / 100% 100% 0 0;
        background: #fff;
        position: relative;
        transform: translateX(-50%);
        text-align: center;
        justify-content:center;
        align-items: center;
    }
    
    .section-title .half-circle img{
        text-align: center;
        width: 20px;
    }
    
    .section-title{
        margin-bottom: 116px; /*最後に消す?*/
        margin-top: 50px;
    }
    
    .section-rec{
        /*margin: -55px;*/
        width: 200px;
        height: 37px;
        border: 1px solid #253d58;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        margin-top:-1px;
    }
    /*セクションタイトル装飾*/

    .attraction img{
        width: 145px;
    }

    #suggest{
        /* margin: 0px 20px 192px 20px; */
        margin: 0px 0px 50px 0px;
    }

    .icons-arrow{
        display: flex;
    }

    .margin{
        margin-top: 20px;
    }

    .icons-arrow img{
        width: 75px;
    }

    .park-container{
        width: 320px;
        margin: 0 auto;
        /* margin-right: 10px;
        margin-left: 10px; */
       
    }

    .lead p{
        font-size: 12px;
        margin-bottom: 20px;
    }

    .icon img{
        width: 65px;
    }

    .title{
        font-size: 20px;
        letter-spacing: 0.5rem;
    }

    .title-name p{
        font-size: 15px;
        margin-left: 50px;
    }

    .modal-box h4{
        font-size: 30px;
    }

    .left-location img{
        width: 22px;
    }

    .left-location{
        bottom: 10px;
        right: 10px;
        
    }

    .right-location{
        bottom: 10px;
        right: 10px;
    }
    

    .modal-button img{
        width: 230px;
    }

    .details-stars p{
        font-size: 11px;
    }

    .bold{
        font-size: 12px;
    }

    .details-stars img{
        width: 100px;
    }

    /*モーダル*/

    .modaal-content-container{
        text-align: center;
        height: 500px;
        width: 380px;
        background-color: #fbfbfb;
    }

    .banner{
        width: 300px;
    }

    .park-info{
        width: 300px;
        font-size: 12px;
    }

    .icons-modal{
        width: 158px;
        height: 30px;
        text-align: left;
    }

    .icon-info{
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        display: block;
    }

    .location-info{
        margin-top: 20px;
        width: 150px;
        margin-right: auto;
        margin-left: auto;
    }

    .icon-info a{
        font-size: 10px;
        text-align: center;
    }



    .slr-photo img{
        width: 144px;
    }

    .slr-photo p{
        font-size: 10px;
    }

    .decoration img{
        width: 200px;
    }

    .park-container{
        margin-top: -50px;
    }

    .icon-right img{
        width: 65px;
    }

    .title-name-right p{
        font-size: 15px;
        margin-right: 50px;
    }

    .right-location img{
        width: 22px;
    }

    .banner{
        margin-bottom: 0;
    }

    .info2{
        margin-top: 30px;
    }

    #caution{
        margin: 0 10px 50px 10px;
    }


    .caution img{
        width: 153px;
    }

    #season{
        margin: 0 20px 50px 20px;
    }

    #japan{
        margin: 0 20px 50px 20px;
    }

    .section45-icon{
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
    }

    .section45-icon p{
        font-size: 12px;
    }

    #last{
        margin: 0 37px 60px 37px;
    }

    .last p{
        font-size: 15px;
        text-align: left;
    }

    .section-title{
        margin-bottom: 40px;
    }


    .info-title{
        font-size: 20px;
        left: 0px;
        top:45px;
    }

    .i-box{
        height: 809px;
        margin-right: 26px;
        margin-left: 26px;
    }

    .i-infoes1{
        margin-right: 0;
        margin-left: 0;
        display: flex;
    }

    .i-infoes2{
        margin-right: 0;
        margin-left: 0;
        margin-top:-50px ;
    }

    .park-names p{
        font-size: 15px;
    }

    .parkname-bold{
        font-size: 15px;
    }

    .i-infoes1{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .i-infoes2{
        display: flex;
        flex-wrap: wrap;
    }

    .mt{
        margin-top: 10px;
    }
    }
/**/